<div id="top-post-margin" class="col-12 col-md-6 mb-5">
  <a href="/posts/<%= post.id %>">
    <div class="card-product mt-4">
      <img src="<%= post.photo ||= 'https://picsum.photos/id/1074/600/600'%>" />
      <div class="card-product-infos">
        <div id="top-post">
          <div>
            <h4><%= post.title.capitalize %></h4>
          </div>
          <div>
            <%= post.rating ||= '-' %> <i class="far fa-star"></i>
          </div>
        </div>
        <p>créé le: <%= post.created_at.strftime("%d/%m/%Y à %H:%M")  %></p>
      </div>
    </div>
  </a>
</div>
