<div class="container-fluid">
  <nav class="navbar navbar-expand-md navbar-light p-0">
    <a class="navbar-brand" href="/" title="Retour Accueil">
      <div id="nav-items" class="d-flex flex-column align-items-center p-0">
        <i id="nav-logo" class="fas fa-home"></i>
        Home
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <% if current_user && current_user.admin %>
        <%= erb :'components/navbar/_button', layout: false, locals: { path: 'clear', title: 'Vider la base de données', tag: 'Vider', icon: 'far fa-trash-alt' } %>
        <%= erb :'components/navbar/_button', layout: false, locals: { path: 'import', title: 'Importer la base de données', tag: 'Importer', icon: 'fas fa-file-import' } %>
        <%= erb :'components/navbar/_button', layout: false, locals: { path: 'generate', title: 'Générer un article aléatoire', tag: 'Générer', icon: 'far fa-plus-square' } %>
      <% end %>
      <% if current_user %>
        <%= erb :'components/navbar/_button', layout: false, locals: { path: 'sign_out', title: 'Déconnexion', tag: 'Déco', icon: 'fas fa-sign-out-alt' } %>
      <% else %>
        <%= erb :'components/navbar/_button', layout: false, locals: { path: 'sign_in', title: 'connexion', tag: 'Connexion', icon: 'fas fa-sign-in-alt' } %>
      <% end %>
    </div>
  </nav>
</div>
