<div class="bg-light container mt-3 py-5 px-5">
  <div class="row">
    <div class="col-sm-12">
      <div class="d-flex justify-content-between align-items-start">
        <h1><%= @post.title  %></h1>
        <div>
          <h3><%= @post.rating ||= '-' %> <i class="far fa-star"></i></h3>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-12">
          <div class="scard-product mt-4">
            <img src="<%= @post.photo ||= 'https://picsum.photos/id/1074/600/600'%>" />
            <div class="scard-product-infos">
              <h5><%= @post.content %></h5>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <div class="d-flex justify-content-between">
            <h3><%= @post.comments.count ||= 0 %> commentaires </h3>
            <div class="d-flex justify-content-between">
              <div></div>
              <div class="d-flex justify-content-center">
                <form method="post" action="/posts/<%= @post.id %>" class="inline">
                  <input type="hidden" name="sign" value="+">
                  <button type="submit" class="btn btn-sm btn-outline-success mr-2" title="Upvote">
                  <i class="fas fa-chevron-up"></i>
                  </button>
                </form>
                <form method="post" action="/posts/<%= @post.id %>" class="inline">
                  <input type="hidden" name="sign" value="-">
                  <button type="submit" class="btn btn-sm btn-outline-danger" title="Downvote">
                  <i class="fas fa-chevron-down"></i>
                  </button>
                </form>
              </div>
            </div>
          </div>
          <% @post.comments.each do |comment| %>
            <div class="comment p-3 my-1">
              <li><%= comment.content %></li>
            </div>
          <% end %>
          <div>
            <form method="post" action="/comments/create" class="inline">
              <input type="text" name="comment">
              <input type="hidden" name=post value="<%= @post.id %>">
              <button type="submit" class="btn btn-sm btn-outline-secondary mr-2" title="créer commentaire">
              <i class="fas fa-plus"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
